* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* variables */
:root {
  /* colors */
  --blue1: rgb(0, 247, 255);
  --blue2: #030c8f;
  --white: white;

  /* fonts */
  --courier: "Courier New", Courier, monospace;

  /* spacing */
  --spacing-unit-tiny: 6px;
  --spacing-unit-small: 12px;
  --spacing-unit: 24px;
  --spacing-unit-large: 48px;
}

/* body styling */

body {
  background-image: url("../img/background_blue_gradient-1201694.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header styling */

header {
  padding: 20px;
  margin: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--blue1);
  background-image: url("../img/chicago_usa_america_united_states_city_skyscrapers_ocean_building-744301.jpg");
  background-size: cover;
  color: var(--blue2);
}

header h1 {
  display: flex;
  font-size: 48px;
  flex-wrap: wrap;
  justify-content: center;
}

header nav {
  padding: 15px;
  margin: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 30px;
}

header nav ul li {
  display: flex;
  margin-left: 25px;
  font-weight: bolder;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

header img {
  display: flex;
  float: left;
  justify-content: left;
  align-content: center;
  max-height: 300px;
}

a {
  color: var(--blue2);
  display: flex;
  justify-content: center;
  align-content: center;
}
a img {
  max-width: fit-content;
  border-width: 3px;
  border-style: solid;
}

a:hover {
  color: var(--blue1);
  box-shadow: inset 0px 0px 12px var(--white), 0px 0px 12px var(--white);
}

a img:hover {
  box-shadow: inset 0px 0px 12px var(--white), 0px 0px 12px var(--white);
}

p {
  font-size: 20px;
}

/* main */

main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  flex-grow: 1;
  justify-content: center;
}

/* figure styling */

figure {
  border: 4px dashed var(--white);
  margin: var(--spacing-unit-small);
  padding: var(--spacing-unit);
  position: relative;
  transition: all 0.1s ease-in-out;
  border-radius: 50px;
}

figure:hover {
  box-shadow: inset 0px 0px 12px var(--white), 0px 0px 12px var(--white);
}

figcaption {
  display: flex;
  justify-content: center;
  margin: 15px;
}

h2 {
  background-color: var(--blue2);
  color: var(--white);
  top: -22px;
  left: 50%;
  padding: var(--spacing-unit-tiny);
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

/* section img {
  opacity: 0.8;
} */

/* classes */

.figure-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center;
  align-content: center; */
}

.content {
  margin-bottom: 20px;
  padding: 50px;
  height: max-content;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
  align-items: center;
}

.content img {
  display: flex;
  max-width: 40vw;
  object-fit: contain;
  margin: 5px;
  flex-wrap: wrap;
}

.project1Picture {
  min-width: 75vw;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 40px;
  left: 8px;
  background-color: var(--blue1);
  color: var(--blue2);
  font-size: 48px;
  font-weight: 900;
}

/* id classes */

#about-me-images {
  justify-content: center;
}

#work-images {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* back to top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--blue2);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* atomic classes */

.d-f {
  display: flex;
}

.d-b {
  display: block;
}

.fw-w {
  flex-wrap: wrap;
}

.ta-c {
  text-align: center;
}

.m {
  margin: 24px;
}

.fd-r {
  flex-direction: row;
}

/* footer styling*/

footer {
  padding: 30px;
  clear: both;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  text-align: center;
}

footer h3 {
  font-size: 20px;
}

/* media queries */
/* medium > 768px */
@media screen and (min-width: 975px) {
  #work-images {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 770px) {
  #about-me-images {
    display: flex;
    flex-direction: row;
  }
}
